# Force use of https.
RewriteCond %{HTTPS} !=on
RewriteCond %{SERVER_PORT} 80 
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Test to make sure that the htaccess is working by forwarding
# requests to profgarrett.
Redirect 301 /profgarrett http://profgarrett.com/my/

# Forward requests not matching a page to the index file.
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /
	RewriteRule ^index\.html$ - [L]


	RewriteRule ^(static|api|sql)($|/) - [L]

	RewriteCond %{REQUEST_URI} !^/?(static)/
	RewriteCond %{REQUEST_URI} !^/?(api)/
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . /index.html [L]

</IfModule>



# Prevent caching of index.html file.
# Used to make sure that clients load the latest application file.
# Sub-pages use unique hashes for each build, so those can be cached ok.
<IfModule mod_expires.c>
	# Enable expirations.
	ExpiresActive On

	# Cache all files for 2 weeks after access (A).
	ExpiresDefault A1209600

	# JS is hashed.
	<FilesMatch ".(js)$">
		Header set Cache-Control "max-age=86400, public"
	</FilesMatch>

	# Update images and css stuff daily
	<FilesMatch ".(css|jpg|jpeg|png|gif|ico)$">
		Header set Cache-Control "max-age=86400, public"
	</FilesMatch>

	# Refresh index pages so clients immediately get a new copy of the js link.
	<FilesMatch ".(html)$">
		Header set Cache-Control "max-age=60, public"
	</FilesMatch>

</IfModule>